[2019-10-23 18:05] DusanJovic-NOAA opened #2 "Delete master branch. develop is new default branch."

[2020-01-09 15:05] #2 closed

[2020-06-11 17:38] GeorgeGayno-NOAA opened #11 "Implement v3.0.2"
GFS v16 requires v3.0.2.  The v3.0.2 tag has old release notes.  Update the notes and make any other required changes.

Following the Gitflow method, a support branch will be created from the v3.0.2 tag.  Once the branch is working, I can recreate the v3.0.2 tag.

[2020-06-16 16:40] DusanJovic-NOAA opened #12 "Cleanup IPLIB"
Version of the ``develop`` branch (3.0.0) should be >= version of ``release/public-v1`` branch (3.1.0).

[2020-06-16 17:19] GeorgeGayno-NOAA commented on #12
1. And the release notes are named with the wrong version (and contain outdated information).
2. The unit tests no longer build because the configuration files they need were removed.
3. The old build system was never removed.
4. Most of the 'readme' files are out-of-date.

Maybe this issue should be rename to "Cleanup IPLIB".

[2020-06-16 17:21] kgerheiser commented on #12
Let me know if I can do anything. I know some of this is my doing.

[2020-06-16 17:38] GeorgeGayno-NOAA commented on #12
@kgerheiser  I don't think the 'build_ip.sh" script and any of the files in ./Conf are used since CMake was added.  About a month ago, I tried to build the library using that script thinking it was a wrapper around the CMake build.  Maybe @Hang-Lei-NOAA still needs it?  Anyway, this is confusing for users.

[2020-06-16 17:40] kgerheiser commented on #12
Oh, that's not what I thought it was. Admittedly I didn't look too closely. I thought those were the old build scripts.

[2020-06-16 17:40] GeorgeGayno-NOAA commented on #12
No problem.  This is not unexpected given the rush to get the public release done.

[2020-06-16 17:43] GeorgeGayno-NOAA commented on #12
There is also a Makefile in ./src.  That has been superseded by CMake, correct?

[2020-06-16 17:46] kgerheiser commented on #12
I deliberately kept the old build files around. I thought someone might want them while the CMake build is still being refined and we completely make the switch.

[2020-06-16 17:47] DusanJovic-NOAA commented on #12
I think everything related to the old build shroud be just removed. If we do not remove it now who is going to maintain and test old Makefiles and those scripts in Conf?

[2020-06-16 17:51] GeorgeGayno-NOAA commented on #12
I made some updates to the release notes for the V3.0.2 tag.  They should be moved to 'develop'.

[2020-06-16 18:34] kgerheiser commented on #12
So, is the consensus to remove the old build system? @aerorahul @DusanJovic-NOAA @GeorgeGayno-NOAA

I can go through the other libs too and leave only CMake.

[2020-06-16 18:37] aerorahul commented on #12
I would create a tag at this point, with the old build system intact, and then purge the old build system

[2020-06-16 18:41] GeorgeGayno-NOAA commented on #12
Yes, I would get rid of the old build system.  That is what I did when CMake was added to UFS_UTILS.

[2020-08-06 12:59] GeorgeGayno-NOAA commented on #11
NCO requested a Cray/haswell version for Cray.  Dexin's build system does not support that compiler.  Also, I noticed the openmp flag is not being used.  Make these updates.

[2020-08-06 13:58] Hang-Lei-NOAA commented on #11
Thanks George for the updates.

On Thu, Aug 6, 2020 at 9:00 AM GeorgeGayno-NOAA <notifications@github.com>
wrote:

[2020-08-06 13:59] kgerheiser commented on #11
Is this necessary for all libraries?

[2020-08-06 14:02] Hang-Lei-NOAA commented on #11
I would think that may not be, since we will push cmake after this code
delivery to NCO.

On Thu, Aug 6, 2020 at 10:00 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-08-06 15:21] GeorgeGayno-NOAA commented on #11
The include files for calling the library from 'c' code were removed for some reason.  Add those back.  These missing files would have been caught if the unit and regression tests were run before merging.  However, these tests were never updated for the new build system and are not able to be compiled.  I will use the tests from v3.0.1 to verify everything is working.

[2020-08-06 15:27] kgerheiser commented on #11
I'll work on adding the regression tests to CMake

[2020-08-06 16:27] GeorgeGayno-NOAA commented on #11
Thanks.  I thought you already added the tests for some libraries.

[2020-08-06 16:57] GeorgeGayno-NOAA commented on #11
I ran the two unit tests on Dell (tests at c2db5e0) using the library/include files from the support branch at 74d5e84.  Both passed.  Will recreate the tag for NCO.

Also ran the unit test on Cray using the Cray build of the library.  It passed.

[2020-08-06 17:01] kgerheiser commented on #11
~~I have a question. Why are all of your commits the same, like `"support/ip_v3.0.2 This commit references #11`? Do you use some tool for git that does this?~~

I see now, there's a little box that expands with the commit

[2020-08-06 17:11] GeorgeGayno-NOAA commented on #11
It is just how I like to start the commit message.  It helps me remember what branch I am working from.  And the commit gets tagged to the issue.  Maybe there is a better or official github way to write the commit messages.

[2020-08-20 13:11] edwardhartnett opened #18 "do we really need pfUnit?"
It seems that there is some testing framework needed by the build: pfUnit.

Testing frameworks are considered harmful! Note that other science software packages in our stack don't use them.

We are asking users to run tests on the software, but to do that, they must first install this test framework? Well, no one will do that - they will just skip running our tests. So we are shooting ourselves in

[2020-09-29 20:52] edwardhartnett opened #226 "Add modules and interfaces for this code."
As suggested by @kgerheiser

Kyle please correct me if I am wrong here...

The problem is that we have a bunch of Fortran functions which actually work for different types (kinds). So the way we cope with this is to build several versions of the library with different names, with the kind in the library name.

Another way to handle this, as Kyle is recommending, is to have a Fortran interface, and

[2020-09-29 21:46] edwardhartnett commented on #18
@kgerheiser we discussed this today. I know it's hard to let go, but I don't think we can require this testing framework to run tests.

The reason is that we are putting a barrier between users and testing. We want users to test - that's much better. So we must make it easy for them.

[2020-09-29 21:47] edwardhartnett opened #22 "Use doxygen for documentation"
As described here:
https://github.com/NOAA-EMC/NCEPLIBS/issues/121

[2020-09-29 21:52] kgerheiser commented on #18
Yeah, that's fine. How do you write unit-tests? Each one is a single `program`?

[2020-09-29 22:03] edwardhartnett commented on #18
You write a program in Fortran or C, and it does stuff and checks results. If everything works, it exists with 0, otherwise with non-zero.

Here's an example:
https://github.com/Unidata/netcdf-fortran/blob/master/nf_test4/ftst_vars2.F

So the program can do as many things as you want, and netcdf-c has one very, very long program with multiple code files called nc_test, which tests EVERYTHING, all

[2020-09-30 12:51] edwardhartnett opened #23 "make test doesn't work?"
When I build this package, and then do a make test, I get this:

[code]

Yet I see there is a tests directory. So how do I run the tests?

[2020-09-30 12:53] edwardhartnett opened #24 "interesting include directory names"
Instead of the usual "include" directory, this package creates some interesting include directory names:

[code]

Within the include_4 directory, I find:

[code]

Why all the mod files?

[2020-09-30 12:54] edwardhartnett opened #25 "Combine all library builds so only one libip is needed"
After building this package, in the lib directory, I see several libraries. What's the difference between them?

[code]

[2020-09-30 12:56] edwardhartnett opened #26 "README needs to be updated"
The README needs to be updated in accordance with https://github.com/NOAA-EMC/NCEPLIBS/issues/120

[2020-09-30 13:04] edwardhartnett commented on #23
Also I see we have a GitHub workflow which apparently runs the tests. What am I missing here?

[code]

[2020-09-30 13:26] GeorgeGayno-NOAA commented on #24
There is a set for each precision version of the library - single, mixed, double.

[2020-09-30 13:30] GeorgeGayno-NOAA commented on #25
"4" is 4-byte floats/ints; "d" is 8-byte floats/4-byte ints; "8" is 8-byte floats/ints

[2020-09-30 13:40] edwardhartnett commented on #24
OK, so this is similar to what is happening with the sp library? See https://github.com/NOAA-EMC/NCEPLIBS-ip/issues/226

If so, we should use fortran interfaces to solve this problem. @GeorgeGayno-NOAA do you agree?

[2020-09-30 13:40] edwardhartnett commented on #25
OK, now I get it. ;-) Similar to https://github.com/NOAA-EMC/NCEPLIBS-ip/issues/226

[2020-09-30 13:46] GeorgeGayno-NOAA commented on #24
That is one way to do it.  I would use double precision for all computations.

[2020-09-30 13:47] kgerheiser commented on #226
Almost all of the libraries are like this, except a few.

Now, Fortran doesn't have generics so the options are to either copy and paste the code multiple times or to use include files and define the kind.

I went with the latter approach.

What do you think of this? I made a Python script to automate the work. It takes the subroutine and makes the body of the subroutine an include file and I use

[2020-09-30 13:59] edwardhartnett commented on #226
Firstly, I think the important thing is the use of the interface so that we don't need multiple include directories and installed libraries. That's very important and we must do it.

Secondly, you have presented a potential idiom for solving this with our code. This is one way to achieve what we need and looks good. I'm not usually in favor of using include files like this, but with Fortran you ha

[2020-09-30 14:01] edwardhartnett commented on #226
@GeorgeGayno-NOAA suggests simply using double for all computations. Would that work better?

[2020-09-30 14:02] edwardhartnett commented on #24
I have raised your point here: https://github.com/NOAA-EMC/NCEPLIBS-ip/issues/226.

[2020-09-30 14:06] edwardhartnett opened #27 "CMake build needs to require sp library"
In the workflow we have:

[code]

Yet CMakeLists.txt does not check for sp, and it is not needed to build ip.

[2020-09-30 14:06] kgerheiser commented on #226
Perhaps? That would certainly be simpler. I don't actually know whether we need each kind.

Though, I do know that `_8` with 64 bit integers is probably not used, and I think that applies to most/all of the libraries.

[2020-09-30 14:09] kgerheiser commented on #27
The thing is that none of these libraries have interfaces and they are built statically so even though it does use sp it's not enforced at compile time.

[2020-09-30 14:16] kgerheiser commented on #226
I looked at several places this library is used in the UFS_UTILS and the weather model and they're using `_d` (64 bit reals and 32 bit integers). Making it all double precision may be viable.

[2020-09-30 14:23] edwardhartnett commented on #27
OK, so then the bug here is that the ip CMakeLists.txt file does not require sp, but should.

[2020-09-30 14:25] edwardhartnett commented on #226
If we made it all double, would we still want an interface? I believe the answer is yes...

[2020-09-30 14:25] kgerheiser commented on #226
Yes.

Looking a little more though, I see post uses the 32 bit version of various libraries.

[2020-09-30 14:33] edwardhartnett commented on #226
OK, so we can see this as a 2-step process.
1 - add the interface, supporting all the kinds currently supported.
2 - if some kinds are not needed, remove them.

[2020-09-30 14:41] kgerheiser commented on #226
My point was that if we only support one kind we can lose the whole `include` hack and just put them in modules and be done.

[2020-09-30 14:45] edwardhartnett commented on #226
@kgerheiser yes I understand and agree. However this will be invisible to the user in any case.

The user will greatly benefit if we can change to using the normal include directory name, and go to one library instead of 3. That's a great simplification for the user and for us to support.

If we can also simplify the code by removing unused kinds, that would be a great follow-on. However, there ma

[2020-09-30 14:52] edwardhartnett commented on #27
OK, actually the sp library is required in the CMake build, but only if tests are run. Here's the tests/CMakeLists.txt file:

[code]

Is sp only needed for testing?

[2020-09-30 14:54] kgerheiser commented on #226
Sounds good

[2020-09-30 15:04] kgerheiser commented on #27
SP is needed to create an executable that uses ip because of the aforementioned interface/static library thing. It should be found at compile time even if it's currently not used.

[2020-09-30 15:07] edwardhartnett commented on #27
OK, understood. In that case this should be checked at the top level CMakeLists.txt file.

When you execute https://github.com/NOAA-EMC/NCEPLIBS-ip/issues/226, then sp will be needed for make all as well as make tests, because the interface will allow fortran to check for sp at compile time. (I believe...)

[2020-09-30 15:08] kgerheiser commented on #27
That is correct

[2020-10-05 14:36] edwardhartnett commented on #226
@kgerheiser can we take a stab at this, this week?

[2020-10-05 14:47] edwardhartnett opened #225 "warnings in fftpack.F"
[code]

[2020-10-05 14:52] kgerheiser commented on #226
Yes, I'll put together a working prototype.

[2020-10-05 16:14] edwardhartnett commented on #226
As part of this we will need tests, at least for some of the functions, if not all of them, to make sure your changes are good and everything still works. So what would be good would be to add some of the tests first, then attempt your change.

[2020-10-05 16:20] edwardhartnett commented on #12
Has this been accomplished yet?

Is the develop branch still behind where it should be?

[2020-10-05 16:59] edwardhartnett opened #29 "Rename gdswzd_c.F90 to gdswzd_c.f90"
gdswzd_c.F90 is the only file with an "F90" extension. The rest have "f90".

The reason to use F90 is if we want pre-processing with the C pre-processor, which all modern Fortran compilers support (as far as a I know).

But we are not using any pre-processing symbols in gdswzd_c.F90 so it should use the same extension as all the other files.

[2020-10-05 19:01] #27 closed, assigned to nobody

[2020-10-06 12:25] edwardhartnett opened #32 "NCEP authors list is a 404 error..."
We have the following in the README:

### Authors

* **[NCEP/EMC](NCEP.List.EMC.nceplibs.Developers@noaa.gov)**

This gives us a link in the README, but when I click on the link I get a 404 not found error. ;-)

What is this supposed to be pointing to?

[2020-10-06 12:48] edwardhartnett opened #33 "clean up legacy testing directories and code"
We have some legacy testing here that needs to be modernized.

There is a tests directory, with two subdirectories, unit_test and unit_test_for_c.

In unit_test_for_c there are two subdirectories, sorc and scripts. The sorc directory contains the test code, the scripts directory some scripts to run the tests. (At least oneof the scripts would not run because it has merge artivacts in in...).

OK,

[2020-10-06 12:58] edwardhartnett opened #34 "Test in unit_test_for_c requires missing iplib.h"
When I try to build the test in unit_test_for_c, it fails because it can't find iplib.h. There is no iplib.h in the project. ;-)

So where is it supposed to come from?

[code]

[2020-10-06 14:14] GeorgeGayno-NOAA commented on #34
@edwardhartnett I discovered the same thing when creating the v3.0.2 tag.  Get them here:
https://github.com/NOAA-EMC/NCEPLIBS-ip/releases/tag/ip_v3.0.2

[2020-10-06 14:23] edwardhartnett commented on #34
What is the plan for merging this back to the develop branch?

[2020-10-06 14:23] #26 closed, assigned to nobody

[2020-10-06 14:32] GeorgeGayno-NOAA commented on #34
Those files will need to be recovered from the tag, then added back to develop.  I don't know if they should reside in the source code directory or in a separate directory.

[2020-10-06 14:38] edwardhartnett commented on #34
You said that files had to be recovered from this tag? What other files besides iplib.h? Why does this tagged release contain files not in develop?

[2020-10-06 14:49] GeorgeGayno-NOAA commented on #34
Because we have been very sloppy with our NCEPLIBS development lately.  The missing include files would have been caught by the "unit tests for c" test.  But all the regression and unit tests no longer work ever since the autotools-based build was removed (several months ago).   I spent a lot of time creating those tests and I hope you can get them working again.  You will need them when combining

[2020-10-06 14:50] edwardhartnett commented on #34
What specific files are missing?

[2020-10-06 14:56] GeorgeGayno-NOAA commented on #34
The missing include files are:  iplib_4.h, iplib_d.h and iplib_8.h

[2020-10-06 15:18] edwardhartnett commented on #34
Is there anything else different in the tagged branch? Or just the header files?

[2020-10-06 15:33] GeorgeGayno-NOAA commented on #34
I am not sure.  I would do a diff of the source files.

[2020-10-06 21:08] edwardhartnett opened #36 "No need to have 3 C headers"
All three C headers can be combined.

[2020-10-06 21:28] edwardhartnett commented on #11
This is complete, correct?

[2020-10-07 13:49] GeorgeGayno-NOAA commented on #11
Yes, you can close it.

[2020-10-07 14:17] edwardhartnett opened #224 "tests for functions used in NCEPLIBS-ip"
When I take NCEPLIBS-sp out of the NCEPLIBS-ip build, I get the following errors:

[code]

So these functions would be a good place to start testing.

[2020-10-07 15:07] edwardhartnett opened #223 "Convert files to *.F90"
Let's make up our minds and change them all to .f.

[2020-10-07 15:23] edwardhartnett commented on #223
OK, I get it now. Using 'F' means the pre-processor is invoked. In this case we should change them all to .F, so we can use the preprocessor anywhere.

[2020-10-07 15:28] #11 closed

[2020-10-08 23:53] edwardhartnett opened #38 "Merge in code from ip2?"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/122

[2020-10-20 11:18] edwardhartnett opened #40 "add build option to build without sp library"
One change that wgrib2 made to NCEPLIBS-ip was to take out support for the NCEPLIBS-sp library.

So let's put an option in to build without the sp library, leaving out all functions that need it, in that case.

[2020-10-21 17:58] kgerheiser commented on #29
It uses the pre-processor

https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/f02ddf2502b6bdbf1fd3342d6d7bd64eef102307/src/gdswzd_c.F90#L62

[2020-10-21 17:59] #12 closed

[2020-10-21 19:21] edwardhartnett commented on #29
OK, we'll leave the issue of filenames for this round of refactoring...

[2020-10-21 19:21] #29 closed, assigned to nobody

[2020-10-21 19:22] #18 closed, assigned to nobody

[2020-10-21 19:22] #23 closed, assigned to nobody

[2020-10-21 19:22] #34 closed, assigned to nobody

[2020-10-21 19:22] #33 closed, assigned to edwardhartnett

[2020-10-21 19:22] kgerheiser commented on #33
Fixed with #41

[2020-10-23 13:06] edwardhartnett opened #42 "Set branch protection on develop branch"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-10-23 13:06] edwardhartnett commented on #42
I have done this. @GeorgeGayno-NOAA and @kgerheiser please take note.

[2020-10-23 13:06] #42 closed, assigned to edwardhartnett

[2020-10-29 17:03] edwardhartnett opened #43 "produce rpm/deb distribution, depending on NCEPLIBS-sp"
See https://github.com/NOAA-EMC/NCEPLIBS-sp/issues/49

Now it's time to try this for NCEPLIBS-ip. It depends on NCEPLIBS-sp...

[2020-11-17 20:52] edwardhartnett opened #44 "Identify areas for test improvement"
We need to run code coverage analysis for this library.

copybg is a utility that will be useful in testing.

Some reg_tests were in the repo but have been lost. They can be recovered. Kyle will recover these.

[2020-11-17 20:53] edwardhartnett opened #45 "add test build without OpenMP to CI"
We need to test without OpenMP as well.

[2020-11-17 21:21] kgerheiser opened #46 "Recover reg_test tests"
These tests were deleted, but are still in the history. Recover them and convert them to CMake.

[2020-11-20 16:16] DusanJovic-NOAA opened #47 "Syntax error in tests/interp_mod.f90"
I am getting this syntax error when I compile on wcoss2 TDS (acorn)
[code]

[2020-11-20 16:19] kgerheiser commented on #47
That looks like an oversight. I don't think those calls to `getarg` should be there.

[2020-11-20 17:47] #47 closed, assigned to nobody

[2020-12-04 14:37] kgerheiser opened #49 "Install to standard CMake install dirs"

[2020-12-04 15:22] #49 closed, assigned to kgerheiser

[2020-12-04 19:51] kgerheiser opened #51 "Config installed in wrong location"
The installation location of the config file wasn't updated to `${CMAKE_INSTALL_LIBDIR}`, it's hardcoded to `lib`

[2020-12-04 20:55] #51 closed, assigned to kgerheiser

[2021-01-26 03:03] opoplawski commented on #226
Any progress here?  Thanks.

[2021-02-05 17:14] edwardhartnett opened #53 "automate test coverage measurment"
We need this on all projects, and this is a simple one to start with.

We need some method of automatically running code coverage analysis on GitHub actions. In this way, all developers will easily be able to tell what code is untested.

[2021-05-06 15:13] edwardhartnett commented on #38
@kgerheiser closing this as it has been done.

[2021-06-27 20:43] edwardhartnett commented on #38
@kgerheiser was this actually done or was I wrong to close this issue?

[2021-07-14 23:11] edwardhartnett commented on #38
@kgerheiser what's the status of this work?

[2021-07-15 13:09] kgerheiser commented on #38
I have a PR ready

[2021-07-15 14:35] edwardhartnett commented on #38
Well this is a hell of a giant PR!

In future, try and put up smaller PRs so we have a hope of giving a good review.

[2021-07-15 14:38] kgerheiser commented on #38
I agree, but part of the reason for this is that the original code history came from NCEPLIBS-ip2, but we don't want to keep ip2 around, so this is basically re-writing history coming into ip.

[2021-07-21 18:06] kgerheiser opened #57 "Add Doxygen to ip_grid_descriptor.f90"

[2021-07-21 18:06] kgerheiser opened #58 "Fix Doxygen in ipolates.f90"
Several typos and gaps between lines.

[2021-07-21 18:07] kgerheiser opened #59 "Add Doxygen to ipolatev.f90"

[2021-07-21 18:19] edwardhartnett commented on #57
You can add one issue: Fix doxygen throughout repo, and then keep referring to it, instead of a separate issue for each file.

[2021-07-21 18:20] kgerheiser commented on #57
Ok, I thought you might want specific issues.

[2021-07-21 18:21] edwardhartnett commented on #57
That would be too many! ;-)

[2021-07-21 18:22] kgerheiser opened #60 "Add Doxygen documentation"
Convert the legacy documentation to Doxygen, and clean up the Doxygen that is there.

[2021-07-21 18:55] #59 closed, assigned to kgerheiser

[2021-07-21 18:55] #58 closed, assigned to kgerheiser

[2021-07-21 21:04] #57 closed, assigned to kgerheiser

[2021-08-06 18:59] kgerheiser opened #69 "NCEPLIBS-ip fails to compile on WCOSS"
@GeorgeGayno-NOAA  reports:

[code]

This seems to be a compiler bug with that specific version of ifort with polymorphic assignment.

Substituting the assignment with `allocate(grid_desc_out2, source = grid_out%descriptor)` may fix the issue.

[2021-08-06 19:25] GeorgeGayno-NOAA commented on #69
Here is the compiler I am using on Dell:

[code]

[2021-08-25 16:27] kgerheiser opened #70 "Support NCEP rotated grids in grib2"
The ip2 library doesn't support NCEP rotated grids (32768, 32769).

https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-32768.shtml

https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-32769.shtml

Two builds of wgrib2 are required (one built with ip and one built with ip2) to support all features. It would be nice to offer all in one.

@GeorgeGayno-NOAA do you know h

[2021-08-25 17:58] GeorgeGayno-NOAA commented on #70
IP2 supports rotated lat/lon grids following the official WMO template: https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-1.shtml

But IP2 does not support the local NCEP templates that describe rotated lat/lon grids.

Is anyone using the local NCEP templates?

[2021-08-25 18:23] kgerheiser commented on #70
Yes, it has come up several times before.

[2021-08-25 18:42] GeorgeGayno-NOAA commented on #70
That is too bad.

The easiest way to handle this is to add a routine to convert the template elements to this module:
https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/develop/src/ip_rot_equid_cylind_grid_mod.f90#L31

You likely already have the routine you need in that module.  Note how the grib1 definition and the local NCEP grib2 definition have the same essential elements. I suspect the local NCEP

[2021-08-30 13:33] kgerheiser commented on #70
Thanks

I think I figured out for the most part. Just need to make sure units are correct and test it out.

https://github.com/kgerheiser/NCEPLIBS-ip/blob/d1d7d8f88939a3a2cfd299a795cd9361d7aee7c6/src/ip_rot_equid_cylind_egrid_mod.f90#L199

I was able to see how wgrib2 handled creating a grib1 descriptor to pass to ip for those grids and work backwards:

https://github.com/NOAA-EMC/NCEPLIBS-wgrib2/

[2021-08-30 14:46] kgerheiser commented on #70
@GeorgeGayno-NOAA any idea why 90 degrees is added to `RLAT0` in grib2, but not in grib1?

https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/c8f29ed25cb1a2635e5bcc1cb262b771c1c8498c/src/ip_rot_equid_cylind_grid_mod.f90#L114

[2021-08-30 15:51] GeorgeGayno-NOAA commented on #70
GRIB2 defines the grid rotation according to the lat/lon of the southern pole of projection. GRIB1 and the GRIB2 local template use the actual lat/lon. See the Note 2 here:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-1.shtml

[2021-08-31 13:29] #69 closed, assigned to kgerheiser

[2021-08-31 13:31] kgerheiser opened #72 "Remove unused variables"
Compiler reports a lot of unused variables

[2021-08-31 14:26] kgerheiser commented on #53
We have this https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/develop/.github/workflows/gcc-docs-coverage.yml

[2021-08-31 14:26] #53 closed, assigned to kgerheiser

[2021-09-03 17:17] kgerheiser commented on #32
This isn't there anymore.

[2021-09-03 17:17] #32 closed, assigned to nobody

[2021-09-03 17:17] kgerheiser commented on #38
This has been completed.

[2021-09-03 17:17] #38 closed, assigned to kgerheiser

[2021-09-03 17:18] kgerheiser commented on #22
Closing this in favor of #60

[2021-09-03 17:18] #22 closed, assigned to nobody

[2021-09-03 17:21] kgerheiser commented on #44
We've got code coverage going and we're sitting at 66% coverage.

https://github.com/NOAA-EMC/NCEPLIBS-ip/actions/workflows/gcc-docs-coverage.yml

[2021-09-04 13:56] edwardhartnett commented on #44
Awesome progress. I will close this issue.

[2021-09-04 13:56] #44 closed, assigned to kgerheiser, GeorgeGayno-NOAA

[2021-09-04 14:01] edwardhartnett commented on #25
We need to end this practice, so we need to build just one of the libraries and let Fortran match the types.

I'm not sure what effect this will have on using applications...

[2021-09-21 09:34] edwardhartnett opened #73 "put built docs on gh-pages branch and link from README"
The docs need to be built and saved to gh-pages branch, and the README changed to point to the docs.

[2021-10-10 13:28] edwardhartnett commented on #43
We have decided to use spack to distribute to the outside community...

[2021-10-10 13:28] #43 closed, assigned to edwardhartnett

[2021-10-10 13:29] edwardhartnett opened #74 "Add MacOS to CI testing"
Add MacOS to CI testing

[2021-11-10 15:12] edwardhartnett commented on #38
It's not clear if this work is complete... @kgerheiser is it? Can users now use an ip library release, and get rid of any ip2 releases?

[2021-12-09 13:50] edwardhartnett opened #75 "add support for multiple versions of the documentation"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/126

[2021-12-15 15:01] edwardhartnett opened #76 "release 4.0.0"
The ip library has changed and absorbed the ip2 library. It's time for a release.

Should the next release be called ip-4.0.0 since it represents an important change in the API?

[2021-12-15 15:45] kgerheiser commented on #76
I will create a 4.0.0 release.

The API doesn't technically change, but it will break code that doesn't use `ip_mod`, and without interface checks by the compiler I've seen some calls that play loose with the type/rank passed to these routines.

[2021-12-15 16:30] edwardhartnett commented on #76
OK does the 4.0.0 release do away with the "_4" and "_d" on the library names and just build one library for all types?

[2021-12-15 16:50] kgerheiser commented on #76
No, it still builds the different libraries.

There's really no good way to do it with Fortran. You always end up with some hack using the pre-processor or lots of duplicate code. I think the answer might be to work solely on real64 internally, and if a real32 interface is necessary add one that just promotes real32 to real64 and call the internal real64 functions.

[2022-01-04 15:25] edwardhartnett commented on #76
OK, can we have this soon so I can adjust the grib libraries to use the new combined ip library?

Don't forget to mention in the release notes that this includes the ip2 library...

[2022-01-04 15:40] kgerheiser commented on #76
On it

[2022-01-04 15:58] kgerheiser commented on #76
Done

[2022-01-04 16:57] edwardhartnett commented on #76
Dont forget to update the spack repo with the new release.

[2022-01-04 16:59] edwardhartnett commented on #76
You also need to update the docs on the gh-pages branch.

Also modify the README to point to the docs in the gh-pages branch, as all the other READMEs do.

Also, also modify the README in the ip2 package to say it is deprecated and that users should look for the ip package instead...

[2022-01-04 17:29] kgerheiser commented on #76
Updated gh-pages and Spack.

I think there's an automated way to update documentation with a Github Action. Something like

[code]

[2022-01-04 17:46] edwardhartnett commented on #76
@kgerheiser that gh-pages automatic update on release would be a great thing to figure out.

But remember, we only want to update when we do a release, not every time the code changes...

[2022-01-05 13:21] edwardhartnett opened #78 "add documentation info on main landing page"
The main page of the ip library is blank: https://noaa-emc.github.io/NCEPLIBS-ip/

We need some overview on the main page, with links to important functions...

[2022-01-05 14:46] #73 closed, assigned to kgerheiser

[2022-01-06 12:18] edwardhartnett opened #79 "warning during build of 4.0.0"
[code]

[2022-01-06 12:54] edwardhartnett opened #80 "can't get grib_util to build with ip-4.0.0"
I have been trying to get grib_util to build with ip-4.0.0, but no luck.

In the CMakeLists.txt I added:

[code]

And this seems to work, when compiling with ip-4.0.0 I see:

`cd /home/ed/NCEPLIBS-grib_util/b/src/copygb && /usr/bin/gfortran -DUSE_IP_MOD -I/usr/local/NCEPLIBS-bacio-2.5.0/include -I/usr/local/NCEPLIBS-w3emc-2.9.2/include_d -I/usr/local/NCEPLIBS-ip-4.0.0/include_d -I/usr/local/NCEPLI

[2022-01-06 14:19] kgerheiser commented on #80
I'll take a look

[2022-01-06 14:36] kgerheiser commented on #80
It's because grib_util plays loose with the type/kind/rank checking. It passes a scalar value to ip when the actual dummy argument is an array.

[2022-01-06 14:49] edwardhartnett commented on #80
OK, well others might do the same. Can you add something to ip to handle this?

[2022-01-06 14:50] kgerheiser commented on #80
The fix is to update the grib_util code so that the arguments match. I can put in a PR.

[2022-01-06 15:12] edwardhartnett commented on #80
Yes, but then if any other programs have done this same thing, they also will need to be fixed.

Can't you add a function to the ip interface that takes a scalar? Then, if other programs also do this with a scalar, it will automatically work...

[2022-01-06 16:12] kgerheiser commented on #80
Ok, I was able to do that for ipolates/ipolatev. Figuring out the makegds  thing now.

I think the fix is fine here for one variable (ibi/ibo), but hopefully other variables aren't abused in the same way because it will quickly increase the number of interfaces.

[2022-01-06 16:43] kgerheiser commented on #80
Fixing a similar issue in copygb2 which passes a 1d array to a 2d argument

[2022-01-18 16:34] #80 closed, assigned to kgerheiser, edwardhartnett

[2022-01-28 16:15] edwardhartnett opened #82 "turn on address sanitizer in CI builds"
Looks like we are not using the address sanitizer, but should.

[2022-06-02 01:46] edwardhartnett commented on #79
OK, we have three .h files, all containing the prototype with the C types to match 4, 8, and d:

  -rw-rw-r-- 1 ed ed   295 Apr 22  2021 iplib_4.h
  -rw-rw-r-- 1 ed ed   311 Apr 22  2021 iplib_8.h
  -rw-rw-r-- 1 ed ed   307 Apr 22  2021 iplib_d.h

Yet in the test we include iplib.h. I think we need to include iplib_8.h.

PR shortly...

[2022-06-02 01:49] edwardhartnett commented on #36
Well, no they cannot. Because it's the same function name, with different types of parameters.

[2022-06-02 01:49] #36 closed, assigned to nobody

[2022-06-02 01:50] edwardhartnett opened #83 "Remove warning about supported compilers..."
We don't need to warn about supported compilers. This is standard fortran and will compile on any Fortran compiler.

[2022-06-02 14:20] edwardhartnett opened #86 "many doxygen warnings"
[code]

[2022-06-02 14:20] edwardhartnett opened #87 "Address sanitizer needs to be turned on for C as well..."
When I turned on address sanitizer I get:

[code]

[2022-06-03 16:48] kgerheiser commented on #83
It's not standard Fortran in regards to compile flags. The 4, 8, d versions still exist.

[2022-06-03 16:49] #82 closed, assigned to kgerheiser

[2022-06-03 16:49] #87 closed, assigned to edwardhartnett

[2022-06-03 18:16] edwardhartnett commented on #83
Do we have a version of ip that does not need 4.8.d builds yet?

[2022-06-06 09:24] edwardhartnett opened #89 "in Doxyfile, turn on REFERENCED_BY_RELATION and REFERENCES_RELATION"
These should be turned on to give the calling and called functions in the documentation.

[2022-06-07 08:59] #89 closed, assigned to edwardhartnett

[2022-06-09 08:00] edwardhartnett commented on #76
OK, this version was released, so I will close this issue. Thanks @kgerheiser for all the hard work.

[2022-06-09 08:00] #76 closed, assigned to kgerheiser, edwardhartnett

[2022-06-09 08:01] edwardhartnett commented on #25
OK, this is harder than I thought. See discussion in NOAA-EMC/NCEPLIBS-sp#76.

We will table this idea for now. I will close this issue.

[2022-06-09 08:01] #25 closed, assigned to nobody

[2022-06-09 08:01] edwardhartnett commented on #24
OK, this is a hard problem. See discussion in NOAA-EMC/NCEPLIBS-sp#76. I will close this issue.

[2022-06-09 08:01] #24 closed, assigned to nobody

[2022-06-09 08:03] edwardhartnett commented on #60
OK, there has been lots of great progress on this and we have decent doxygen documentation.

I will close this issue and we will continue improving the documentation under other issues. Thanks @kgerheiser for the work on the docs.

[2022-06-09 08:03] #60 closed, assigned to kgerheiser

[2022-06-09 08:05] edwardhartnett opened #93 "Combine the NCEPLIBS-sp code with this repo"
Should we combine NCEPLIBS-sp into NCEPLIBS-ip? This would eliminate a package and a dependency for many other packages.

Does anyone use sp without ip?

@kgerheiser and @GeorgeGayno-NOAA your opinion would be welcome.

[2022-06-09 10:03] edwardhartnett commented on #40
Or not...

[2022-06-09 10:22] edwardhartnett commented on #83
OK, we will leave the warning and I will close this issue.

[2022-06-09 10:22] #83 closed, assigned to edwardhartnett

[2022-06-09 16:17] #45 closed, assigned to nobody

[2022-06-09 16:17] #74 closed, assigned to kgerheiser

[2022-06-09 16:24] GeorgeGayno-NOAA commented on #93
There are likely some users of sp only. But as the FV3 dynamic core replaces the old GFS spectral core throughout EMC, I would expect the number sp only users will decrease. Whereas ip will continue to be widely used for the foreseeable future.  Does that help?

[2022-06-09 16:30] kgerheiser commented on #93
Agreed with @GeorgeGayno-NOAA. A better approach would be to deprecate spectral interpolation part of ip and eventually the entire sp library once it's not needed.

[2022-06-10 04:12] #79 closed, assigned to kgerheiser

[2022-06-10 04:54] edwardhartnett opened #95 "Update Doxyfile.in, turn on WARN_AS_ERROR, turn on doxygen build in CI"
Use doxxygen 1.8.17 which is what ubuntu-latest uses in GitHub CI.

[2022-06-10 05:01] edwardhartnett commented on #40
OK, turns out we do want this. See discussion in #93.

[2022-06-10 05:01] edwardhartnett commented on #93
OK, we will proceed with the plan suggested above by @GeorgeGayno-NOAA and @kgerheiser after completing #40.

[2022-06-10 05:08] edwardhartnett opened #97 "Fill in documentation fields with "???""
In eliminating doxygen warnings, I used "???" when I didn't know what to write.

These need to be filled in.

For a starting point, from ip_mercator_grid_mod.f90:
[code]

@GeorgeGayno-NOAA and @kgerheiser do you know what these should say?

[2022-06-10 05:11] edwardhartnett opened #98 "change everything from f90 to F90, so we can use pre-processor"
I think we should change all fortran files in this repo to F90, so we can use pre-processor.

Any objections @kgerheiser ?

I think this will help with #40 and also I think we might be able to use it to deal with the 4,8,d problems...

[2022-06-10 05:34] edwardhartnett commented on #98
For example, I would like to use the preprocessor to conditionally include ip_gaussian_grid in ip_grid_mod.f90:

[code]

[2022-06-10 05:47] edwardhartnett opened #100 "add doxygen documentation to ip_grids_mod.f90 and other files"
There's no documentation in ip_grids_mod.f90.

Also, how come doxygen doesn't issue a warning for that?

[2022-06-10 05:53] edwardhartnett commented on #100
I have added the documentation, but I can't figure out why doxygen doesn't warn about this...

[2022-06-10 05:59] edwardhartnett commented on #100
OK, it's because the file does not have @file at the top to tell doxygen to care about this file. Other files with this problem:
earth_radius_mod.f90
ipxetas.f90
*.h
earth_radius.f90
polfix_mod.f90
movect.f90
ipxwfs.f90
ipxwfs3.f90
ipxwfs2.f90

So it looks like I still have more documentation work to do here. ;-)

[2022-06-10 07:00] edwardhartnett opened #101 "we have earth_radius.f90 and earth_radius_mod.f90 - do we need both?"
We seem to have two copies of the code in earth_radius.f90, one is a module, one just a plain subroutine.

Do we need both?

@kgerheiser this seems like a byproduct of the ip2 merge. Can we remove the non-module version?

[2022-06-10 09:02] edwardhartnett opened #102 "what is the difference between IPXWAFS3 and IPXWAFS2?"
They both have identical documentation.

There is a lot of cut and paste coding going on here! This yields many more lines of code than are needed. More lines of code = greater maintenance and testing expense.

@GeorgeGayno-NOAA can you shed any light on this?

[2022-06-10 15:02] GeorgeGayno-NOAA commented on #97
rlat1 - Latitude of first grid point. Section 3, octets 39-42.
rlon1 - Longitude of first grid point. Section 3, octets 43-46.
rlon2 - Longitude of last grid point. Section 3, octets 56-59.
rlati - Latitude at which the Mercator projection intersects the Earth. Section 3, octets 48-51.
hi -Scan mode in the 'i' direction. Section 3, octet 60.
dlon - Longitudinal direction grid length. Section 3, oc

[2022-06-10 15:18] edwardhartnett commented on #97
Great I will add this documentation and reference the grib2 pages.

[2022-06-10 15:22] GeorgeGayno-NOAA commented on #102
These routines are very similar and could likely be combined. `ipxwafs` uses linear interpolation; `ipxwafs2` uses linear interpolation and accounts for bitmapped data; `ipxwafs3` uses neighbor interpolation and bitmapped data.

[2022-06-10 15:56] #86 closed, assigned to edwardhartnett

[2022-06-10 15:56] #95 closed, assigned to edwardhartnett

[2022-06-10 15:56] #100 closed, assigned to edwardhartnett

[2022-06-11 07:08] edwardhartnett commented on #102
OK, I have added this info to the documentation.

[2022-06-11 07:12] edwardhartnett commented on #97
Also from ip_mercator_grid_mod.f90:

@GeorgeGayno-NOAA what are these?

[code]

[2022-06-11 07:13] edwardhartnett commented on #97
More questions - from ip_rot_equid_cylind_egrid_mod.f90:

     real(kd) :: rlon0 !< ???
     real(kd) :: rlon1 !< ???
     real(kd) :: rlat1 !< ???
     real(kd) :: clat0 !< ???
     real(kd) :: slat0 !< ???
     real(kd) :: dlats !< ???
     real(kd) :: dlons !< ???
     real(kd) :: hi !< ???
     integer :: irot !< ???

Are the variables with the same name the same meaning as ip_mercator_grid_mo

[2022-06-13 13:38] GeorgeGayno-NOAA commented on #97
DLON - Longitudinal direction grid length.
DPHI - Latitudinal direction grid length.
RERTH - Radius of the earth

[2022-06-13 14:06] GeorgeGayno-NOAA commented on #97
rlon0 - Longitude of southern pole of projection.
rlon1 - Longitude of first grid point.
rlat1 - Latitude of first grid point.
clat0 - Cosine of the latitude of the southern pole of projection.
slat0 - Sine of the latitude of the southern pole of projection.
dlats - 'J'-direction grid increment.
dlons - 'I'-direction grid increment.
hi - Scan mode in the 'i' direction.
irot - Rotation flag. When '

[2022-06-13 14:30] #102 closed, assigned to edwardhartnett, GeorgeGayno-NOAA

[2022-06-13 14:47] edwardhartnett commented on #101
@kgerheiser and @GeorgeGayno-NOAA any comments on this one?

[2022-06-16 20:34] #98 closed, assigned to edwardhartnett

[2022-06-22 07:09] edwardhartnett commented on #101
@kgerheiser and @GeorgeGayno-NOAA any comments on this one?

[2022-06-22 07:14] edwardhartnett commented on #93
I'm reopening this issue due to the discovery that we actually need splat_ from the sp library.

So it is proposed (by @GeorgeGayno-NOAA see #99 ) that we take just the necessary functions from sp.

Which leads to the question which of the following can we deprecate? Which of these is not used with UFS:

[code]

@GeorgeGayno-NOAA do you know? Or is this the wrong way to approach the problem? When

[2022-06-22 07:56] edwardhartnett commented on #78
OK, we actually have material in the user_guide.md, but it's not being picked up by doxygen...

[2022-06-22 13:21] GeorgeGayno-NOAA commented on #101
I would guess we don't need two versions. When the unit tests are run, don't we profile which routines are accessed?

[2022-06-22 13:46] kgerheiser commented on #101
The code is identical. It should be safe to remove the non-module version.

[2022-06-22 14:36] GeorgeGayno-NOAA commented on #93
In your list, the spectral library is only required for "ip_gaussian_grid_mod", so the others will not need to be deprecated. The global FV3 outputs data on the gaussian grid, so "ip_gaussian_grid.mod" must be retained to geo-locate these grids.

Separately, the spectral library is also used for spectral interpolation. (See https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/develop/src/spectral_interp_m

[2022-06-22 15:01] edwardhartnett commented on #93
OK thanks for the info.

I'm not sure what the right thing to do is...

[2022-06-22 15:24] edwardhartnett commented on #101
And yet when I try it:

[code]

Could it be that we need a USE statement? I put one in spectral_interp_mod.F90 and that seemed to fix it. PR up shortly.

[2022-06-23 15:04] edwardhartnett opened #108 "code warning"
When compiling:

[code]

[2022-06-23 15:16] edwardhartnett opened #109 "change C function name"
We have C APIs for some functions in ip2lib.h:

[code]

But then we have a different prototype of the gdswzd() function in iplib.h:

[code]

What is going on with this?

Who uses this C API? @GeorgeGayno-NOAA and @kgerheiser do you know?

[2022-06-23 15:19] GeorgeGayno-NOAA commented on #109
wgrib2 uses iplib, and that is written in 'C'.

[2022-06-23 15:37] #78 closed, assigned to kgerheiser

[2022-06-23 16:04] edwardhartnett opened #111 "Some mystery functions mentioned in user_guide.md"
Here's a screenshot from the built documentation. Note the last function is not hyper-linked:

![image](https://user-images.githubusercontent.com/38856240/175343872-88bddd25-5a4e-4fa6-a2e4-7a64b3d2b77c.png)

So what is ijkgds0/1?

I cannot find any functions of this name...

[2022-06-23 16:11] kgerheiser commented on #111
I thought `ijkgds` was not a very descriptive name and it's `field_pos`

https://github.com/NOAA-EMC/NCEPLIBS-ip/blob/ad3255193e53f241852bfded263b229aeb35f5b7/src/ip_grid_mod.F90#L184-L244

[2022-06-24 10:27] edwardhartnett commented on #93
Let me fully explain this idea: we create subdirectories called sp and sp_test and move the sp code there. Then, starting with the next release of the ip library, the sp library is no longer required to build UFS.

If we take part of the sp and leaving the rest we would need to release a new sp library version and a new ip library version.

If we just move the whole sp library into ip, then we don

[2022-06-24 15:41] edwardhartnett opened #112 "where are the ploate() functions?"
In the docs we have:

![image](https://user-images.githubusercontent.com/38856240/175569735-5c4363a4-343e-4ed0-94dc-265837192867.png)

Yet I cannot find any functions named polates0(), polates1(), etc.

[2022-06-24 15:57] GeorgeGayno-NOAA commented on #112
Those names are from the old GRIB1 IP library. They have been renamed in the current library -

- `polates0` was replaced by `bilinear_interp_mod.F90`
- `polates1` was replaced by `bicubic_interp_mod.F90`
- `polates2` was replaced by `neighbor_interp_mod.F90`
- `polates3` was replaced by `budget_interp_mod.F90`
- `polates4` was replaced by `spectral_interp_mod.F90`
- `polates6` was replaced by `ne

[2022-06-24 16:00] GeorgeGayno-NOAA commented on #112
Oops. Looks like we retained separate routines for vectors and scalars. For example, see `interpolate_bilinear_scalar` and `interpolate_bilinear_vector`.

[2022-06-24 17:10] #101 closed, assigned to kgerheiser, edwardhartnett

[2022-06-27 09:53] edwardhartnett opened #114 "What is the difference between ip_rot_equid_cylind_egrid and ip_rot_equid_cylind_grid?"
What is the difference between ip_rot_equid_cylind_egrid and ip_rot_equid_cylind_grid?

They seem very similar. Documenation is wrong for ip_rot_equid_cylind_grid_mod (probably my mistake) but for ip_rot_equid_cylind_grid_mod it says:

[code]

I need to know to fix documentation.

@GeorgeGayno-NOAA do you know? Thanks!

Part of #97.

[2022-06-27 09:56] edwardhartnett opened #115 "what should be the documentation for the ip_station_points_grid_mod?"
What should be the documentation for the ip_station_points_grid_mod?

It currently says:

[code]
@GeorgeGayno-NOAA do you know?

[2022-06-27 13:56] GeorgeGayno-NOAA commented on #114
`ip_rot_equid_cylind_egrid` is for Arakawa "E" staggering. `ip_rot_equid_cylind_grid` is for grids "A" thru "D".

The "E" stagger is a bit odd because the 'wind' points shift by half a grid box in each row. That makes the logic tricky. So the routine does its computations by rotating the grid by 45 degrees.

https://en.wikipedia.org/wiki/Arakawa_grids

[2022-06-27 14:09] GeorgeGayno-NOAA commented on #115
That is a new routine written by @kgerheiser? I suspect it is used for interpolating gridded data to a series of random station points (instead of another grid).  So you can say something like - "Interpolate gridded data to a series of station points."

[2022-06-27 17:23] kgerheiser commented on #115
My terminology may be off, but there was a special case in the doc blocks that used `station points` as a possible "grid" and I just took that.

[2022-06-28 11:38] edwardhartnett commented on #114
OK, I have added this info to the docs. It's will be in the next doxygen PR.

[2022-06-28 11:40] edwardhartnett commented on #112
I have added all this info to the documentation.

[2022-06-28 11:40] #112 closed, assigned to kgerheiser, edwardhartnett

[2022-06-28 11:40] edwardhartnett commented on #111
I have made this change in the docs.

[2022-06-28 11:40] #111 closed, assigned to kgerheiser

[2022-06-28 11:42] edwardhartnett commented on #115
@kgerheiser can you elaborate on your answer? I don't understand what you mean.

What should be the documentation for this module?

Is this module used by any operational code anywhere? Are you saying it can be removed?

[2022-06-28 12:17] edwardhartnett opened #117 "test for earth_radius_mod.F90"
There are no tests for this mod.

[2022-06-28 12:28] edwardhartnett opened #119 "test coverage report does not have all the files it needs to display correctly."
test coverage report does not have all the files it needs to display correctly.

This is what it looks like:

![image](https://user-images.githubusercontent.com/38856240/176178547-ac470a75-2c9e-4ca2-afee-e06e0c92c3f8.png)

[2022-06-28 12:53] edwardhartnett opened #121 "recover test for ipxwafs.F90"
We have ipxwafs.F90, which has zero testing.

Is anyone using this subroutine? @GeorgeGayno-NOAA or @kgerheiser do you know?

Here's what the documentation says:

[code]

[2022-06-28 14:38] GeorgeGayno-NOAA commented on #121
We still produce GRIB1 and GRIB2 WAFS data from GFS. On Dell, these files are here - `/gpfs/dell1/nco/ops/com/gfs/prod/gfs.20220627/00/atmos/wmo`

So, I don't think we can get rid of it.

[2022-06-29 17:01] #117 closed, assigned to edwardhartnett

[2022-06-30 07:31] #114 closed, assigned to edwardhartnett

[2022-06-30 13:41] #119 closed, assigned to edwardhartnett

[2022-07-18 16:15] edwardhartnett commented on #115
@kgerheiser can I get more info on this module please? I need to complete the documentation, which is currently empty:

[code]

What should it say?

[2022-07-18 16:33] edwardhartnett opened #123 "questions about spectral_interp_mod"
@GeorgeGayno-NOAA can I have some help with spectral_interp_mod?

My first question is: which of the grids listed here does this code relate to:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table3-1.shtml

There are three spectral grids listed here, Mercator, Polar Stereographic, and Lambert conformal...

Some of the documentation:

[code]

[2022-07-18 16:59] edwardhartnett commented on #121
The next question (inevitably) is: how do we test it?

Do we need a data file to start with? If so, is there a particularly small one we can use?

[2022-07-18 17:04] edwardhartnett commented on #109
Is iplib a separate library? I thought that was just a casual version of NCEPLIBS-ip.

It would be good if we could combine the two header files into one. But in C we cannot have two functions with the same name. That's not possible. So clearly one of these function names has to change. That will be a problem for any users, but one they can easily solve by just changing the function name.

I sugge

[2022-07-19 13:52] GeorgeGayno-NOAA commented on #123
Are you talking about the special grids? According to the logic, the 'special cases' include:
- Equidistant cylindrical ('0') and gaussian cylindrical grids ('40') that have an even number of points in the 'i' direction, with a western boundary at Greenwich, and have a scan mode of '0'.
- Any mercator grid ('10').
- And a polar stereographic grid ('20') with an odd number of points that are the sa

[2022-07-19 13:59] GeorgeGayno-NOAA commented on #121
I wrote a test for this. See the ip2 repo - https://github.com/NOAA-EMC/NCEPLIBS-ip2/tree/develop/tests/reg_tests/ipxwafs

[2022-07-20 13:25] edwardhartnett commented on #123
I am first trying to identify which  of the grids listed here does this code relate to:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table3-1.shtml

There are three spectral grids listed:

[code]

Does the spectral_interp_mod handle all three of these?

[2022-07-20 13:44] GeorgeGayno-NOAA commented on #123
No, it does not. IP does not recognize any of those grids. 'Spectral' refers to the interpolation method, not the grid.

[2022-08-08 11:59] #123 closed, assigned to edwardhartnett

[2022-09-20 19:40] GeorgeGayno-NOAA opened #125 "Install v4.0 on Tier 1 platforms"
UFS_UTILS was updated to use v4.0 and a draft PR was initiated: https://github.com/ufs-community/UFS_UTILS/pull/695

Can v4.0 be installed on Orion, Jet, Hera and WCOSS2? How long does it typically take NCO to install a library on WCOSS2?

[2022-10-28 05:16] xiaxiaoxue opened #126 "how to buid NCEPLIBS-ip with " use ip_mod "."
![image](https://user-images.githubusercontent.com/105027799/198501875-add2d073-03c1-4532-8c9f-1fdfbfa57908.png)
I want to build NCEPLIBS-grib_until with NCEPLIBS-ip，But I encountered an error：
CMakeFiles/copygb.dir/copygb.F.o: In function 'MAIN__' Medium:

**/public/home/ahsqxt_ 002/software/NCEPLIBS-grib_ Util-1.2.2/sorc/copygb.fd/copygb.F: 269: for 'makgds_' Undefined reference

CMakeFiles/copy

[2022-10-28 14:59] edwardhartnett commented on #126
grib_util does not work yet with ip-4.0.0. Instead, use ip-3.3.3.

[2022-10-30 02:26] xiaxiaoxue commented on #126
Yes yes , Thank you so much.

[2022-10-30 14:42] #126 closed, assigned to nobody

[2022-11-28 14:16] edwardhartnett opened #127 "NCO having a problem installing?"